.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro-Regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro.woff");
  font-weight: 400;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Bold.woff");
  font-weight: 700;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Medium.woff");
  font-weight: 500;
}

body {
  overflow-x: hidden;
  color: #000000;
  font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

img {
  max-width: 100%;
}

.d-projects {
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 0 105px 0;
  background: #ffffff;

  &__title {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1130px;
    margin: 0 auto 60px auto;
    color: #344258;
    font-family: "DIN Pro";
    font-size: 46px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -1.15px;
    text-align: center;
  }

  &__description {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1130px;
    margin: 0 auto 125px auto;
    color: #08172d;
    font-family: "Myriad Pro";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.45px;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    position: relative;
    width: 100%;
  }

  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 550px;
    background-position: center center;
    background-size: cover;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(1.05);
      z-index: 2;

      .d-projects-card__content {
        background: rgba(0, 0, 0, 0.8);
      }

      .d-projects-card__description {
        display: block;
      }

      .d-projects-card__hr {
        display: block;
      }

      .d-projects-card__button {
        display: inline-block;
      }
    }

    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      width: 100%;
      min-height: 575px;
      padding: 20px 20px 40px 20px;
      background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 0) 0%, rgba(37, 54, 74, 1) 100%);
      text-align: center;
      transition: all 0.2s ease-out;
    }

    &__title {
      display: block;
      margin: 0;
      color: #ffffff;
      font-family: "DIN Pro";
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &__description {
      display: none;
      width: 100%;
      max-width: 320px;
      margin: 0 0 30px 0;
      color: #ffffff;
      font-family: "DIN Pro";
      font-size: 18px;
      font-weight: 700;
    }

    &__button {
      display: none;
      margin: 0 0 100px 0;
      padding: 18px 62px;
      border: 3px solid #ffffff;
      background: transparent;
      color: #ffffff;
      font-family: "DIN Pro";
      font-size: 18px;
      font-weight: 700;
      letter-spacing: -0.45px;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background: #ffffff;
        color: #08172d;
        text-decoration: none;
      }
    }

    &__hr {
      display: none;
      width: 100px;
      height: 3px;
      margin-bottom: 25px;
      background: #ffffff;
    }
  }

  &__button {
    display: block;
    position: relative;
    width: 100%;
    max-width: 360px;
    margin: 80px auto 0 auto;
    padding: 18px 32px;
    border: 3px solid #00264c;
    color: #344258;
    font-family: "DIN Pro";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.45px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: #00264c;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.d-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 30px 0 95px 0;
  background: #0d1b2b;

  &__title {
    display: block;
    margin: 0 0 65px 0;
    color: #ffffff;
    font-family: "DIN Pro";
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1.13px;
  }

  &__info {
    display: block;
    max-width: 360px;
    margin: 0 0 45px 0;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.45px;
  }

  &__number {
    display: block;
    margin: 2px 0;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-weight: 400;
    font-size: 30px;
    letter-spacing: -0.75px;
    line-height: 1.33;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(1.05);
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__more {
    display: block;
    padding: 16px 0 4px 36px;
    border-left: 3px solid #0058a7;
  }

  &__link {
    display: block;
    color: #3d95e3;
    font-family: "Myriad Pro";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: -0.45px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 545px;
    padding: 40px 40px 30px 40px;
    border: 5px solid #243448;

    input {
      display: block;
      width: 100%;
      margin: 0 0 2px 0;
      padding: 18px 36px;
      border: 0;
      outline: none;
      background: #243448;
      color: #ffffff;
      font-family: "DIN Pro";
      font-size: 15px;
      font-weight: 500;
      letter-spacing: -0.48px;
      transition: all 0.2s ease-out;

      &:focus {
        background: #ffffff;
        color: #08172d;
        text-decoration: none;
      }
    }

    textarea {
      display: block;
      width: 100%;
      margin: 0 0 2px 0;
      padding: 18px 36px;
      border: 0;
      outline: none;
      background: #243448;
      color: #ffffff;
      font-family: "DIN Pro";
      font-size: 15px;
      font-weight: 500;
      letter-spacing: -0.48px;
      transition: all 0.2s ease-out;

      &:focus {
        background: #ffffff;
        color: #08172d;
        text-decoration: none;
      }
    }

    ::placeholder {
      color: rgba(255, 255, 255, 0.85);
    }
  }

  &__policy {
    display: inline;
    margin: 15px 0 17px 0;
    color: #4c89c1;
    font-family: "DIN Pro";
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    letter-spacing: -0.35px;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__button {
    display: inline-block;
    margin: 0;
    padding: 18px 62px;
    border: 3px solid #ffffff;
    background: transparent;
    color: #ffffff;
    font-family: "DIN Pro";
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.45px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: #ffffff;
      color: #08172d;
      text-decoration: none;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1680px;
  }
}

@media (max-width: 1199px) {
  .d-projects__title {
    margin-bottom: 30px;
  }
  .d-projects__description {
    margin-bottom: 40px;
  }
  .d-projects-card__content {
    min-height: 440px;
  }
  .d-projects__button {
    margin-top: 30px;
  }
  .d-footer {
    padding: 30px 0;
  }
  .d-footer__form {
    padding: 30px 20px;
  }
  .d-footer__title {
    margin-bottom: 30px;
  }
}